<p id="notice"><%= notice %></p>
<div class="company">
  <h1><%= @company.name %></h1>

  <%= render 'phone_numbers/phone_numbers', phone_numbers: @company.phone_numbers %>
  <%= render 'emails/emails', emails: @company.emails %>
  <%= link_to 'Edit', edit_company_path(@company) %>
  <%= link_to 'Back', company_path %>
  <%= link_to "Add phone number", new_phone_number_path(contact_id: @company.id, contact_type: 'Company') %>
  <%= link_to "New email", new_email_path(contact_id: @company.id, contact_type: 'Company') %>
</div>
